@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@300&family=Source+Code+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

*[hidden] {
  display: none !important;
}

html {
  font-size: 16px;
}

ol, ul, li {
  list-style-type: none;
}

body, button, input, textarea, td {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

body {
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

article, section, h1, h2, h3, h4, h5, h6, p, pre {
  margin: 0.5rem 0;
}

code, pre, .fixed {
  color: #eee;
  background-color: #333;
  border-radius: 0.5rem;
  font-family: "Source Code Pro", monospace;
}

code, .fixed {
  padding: 0.25rem 0.5rem;
}

pre {
  padding: 1rem;
}

article {
  border: 2px solid #333;
  border-radius: 1rem;
  overflow: hidden;
}
article section {
  padding: 0 1rem;
}
article section h2 {
  background-color: #eee;
  color: #333;
  margin: -0.5rem -1rem 0.5rem -1rem;
  padding: 1rem;
}
article section:not(:last-child) {
  border-bottom: 2px solid #333;
  padding-bottom: 10rem;
}


input {
  background-color: #fff;
  border: 1px solid #888;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  box-shadow: inset 2px 2px 5px #ccc;
}

.alert {
  padding: 0.25rem 0.5rem;
}
.alert--success {
  background-color: green;
  color: #eee;
}

.fader {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
